<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests">
<listeners>
    <listener class-name="pranu.seleniumtest.Listener"></listener>
    
</listeners>
  <test name="Running Homepage">
        <classes>
            <class name="pranu.seleniumtest.HomePage"/>
        </classes>
    </test>

        <test name="Validating Navigation Bar">
        <classes>
            <class name="pranu.seleniumtest.ValidateNavigationBar"/>
        </classes>
        </test>

    <test name="Validating Page Title">
        <classes>
        <class name="pranu.seleniumtest.ValidateTitle"/>
    </classes>
    </test>

</suite>